<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Personalisieren</h1>

    <a href="{{ url_for('choose_frame')}}">Bilderrahmen hinzufügen</a>
    <br/>
    <a href="{{ url_for('add_text')}}">Text hinzufügen (bisher: {{text_to_show}} in {{font_style}})</a>
    <br/>
    <br/>
    <a href="{{ url_for('preview')}}" >Alles ok, los gehts!</a>

</body>
</html>